html {
    background-color: 2a2a2a;
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

a, a:visited {
    color: #fff;
}

.card {
    position: relative;
    background-color: transparent;
    width: 69.088mm;
    height: 93.98mm;
    perspective: 1000px;
}

.card-container {
    float: left;
    margin: 5px;
}

.config label {
    display: block;
    margin: 0.5em 0;
}

.config {
    margin: 1em;
}

.back {
    position: absolute;
    padding-left: 24px;
    padding-top: 30px;
    background-color: #fff;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.front {
    position: absolute;
    padding-left: 24px;
    padding-top: 30px;
    background-color: #fff;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(cauldron/parchemin.png);
    background-size: cover;
}


.back img {
    width: 70px;
    height: 70px;
    padding: 39px 19px;
}

.back div {
    display: flex;
}

.orientation {
    position: absolute;
    right: -6px;
    top: 162.5px;
    background-color: #979797;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 2px #e8e8e8 solid;
}

.cost {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 24px 29px 2px 29px;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.373);
    border-top: 1px #00000099 solid;
    border-bottom: 1px #00000099 solid;
}

.cost img {
    width: 28px;
    height: 28px;
    margin-right: 7px;
}

.cost img:nth-child(6) {
    margin-right: 0px;
}

.back img:nth-child(1) {
    border-right: 2px #878787 solid;
}

.line1 img {
    border-bottom: 2px #878787 solid;
}

.text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    text-align: left;
    color: #000;
    top: 100px;
    height: 211px;
    left: 30px;
    right: 30px;
}

.type {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: top;
    position: absolute;
    text-align: left;
    color: #000;
    top: 300px;
    padding-top: 10px;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3e9b4d;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    color: #fff;
    border-top: 1px #00000099 solid;
    text-shadow: 1px 1px 2px #000000af;
}

.title {
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    color: #000;
    top: 75px;
    left: 0px;
    right: 0px;
    padding: 2px 29px;
    background-color: #3e9b4d;
    /* background-image: url(cauldron/brew.png); */
    background-size: cover;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border-top: 1px #00000099 solid;
    border-bottom: 1px #00000099 solid;
    color: #fff;
    line-height: 1.6;
    text-shadow: 1px 1px 2px #000000af;
    text-transform: capitalize;
}

.Astral .type, .Astral .title {
    background-color: #3e5d9b;
}

.Shadow .type, .Shadow .title {
    background-color: #2f2f2f;
}

.Chaotic .type, .Chaotic .title {
    background-color: #b63127;
}

.mpc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.mpc img {
    width: 100%;
}


.preparePrint .mpc {
    display: none;
}