html {
    background-color: 2a2a2a;
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

a, a:visited {
    color: #fff;
}

.card {
    position: relative;
    background-color: transparent;
    width: 69.088mm;
    height: 93.98mm;
    perspective: 1000px;
}

.card-container {
    float: left;
    margin: 5px;
}



.config label {
    display: block;
    margin: 0.5em 0;
}

.config {
    margin: 1em;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: #000;
}

.card .bg {
    width: 100%;
    top: 0mm;
    left: 0mm;
    z-index: -10;
    position: absolute;
    margin:0;
    overflow: hidden;
}

.card .bg img {
    width: 100%;
}

.front {
    font-size: 15px;
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.48;
}

.illustration {
    position: absolute;
    z-index: -20;
    top: 40px;
    left: 42px;
    width: 176px;
}

.illustration img {
    width: 100%;
}

.cost {
    height: 21px;
    display: flex;
    position: absolute;
    right: 26px;
    top: 22px;
}

.cost-quartile {
    background-image: url("img/cost.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 21px;
    z-index: -10;
    text-align: left;
    padding-left: 12px;
}


.quartile {
    background-image: url("img/orange-start.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 21px;
    z-index: -10;
    padding-left: 6px;
}

.money {
    background-image: url("img/jaune.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 21px;
    z-index: -10;
    margin-left: -1px;
    text-align: left;
    padding-left: 5px;
}

.attack {
    background-image: url("img/blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 21px;
    z-index: -10;
    margin-left: -1px;
    text-align: left;
    padding-left: 5px;
}

.positions {
    font-size: 27px;
    position: absolute;
    margin-left: -0px;
    margin-top: -4px;
}

.positions .txt {
    margin-left: -2.9px;
}

.txt.pos-0 {
    color: rgb(0, 0, 0);
    color: #aa0000;
}

.defense {
    background-image: url("img/red.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 21px;
    z-index: -10;
    margin-left: -1px;
    text-align: left;
    padding-left: 5px;
}

.defense {
    position: absolute;
    right: 62px;
    top: 21.5px;
}

.top-quartile {
    right:0;
    left: 62px;
    position: absolute;
    /* width: 30px; */
    top: 22px;
    height: 21px;
    display: flex;
}

.top-quartile .defense {
    margin-left: 68px;
}

.rotate {
    position: absolute;
    display: flex;
}

.right-quartile {
    height: 21px;
    display: flex;
    position: absolute;
    right: 34px;
    top: 55px;
}

.right-quartile .rotate-point {
    transform: rotate(90deg);
}

.bottom-quartile {
    height: 21px;
    display: flex;
    position: absolute;
    right: 60px;
    bottom: 21.6px;
}

.bottom-quartile  .rotate-point {
    transform: rotate(-180deg);
}

.left-quartile {
    display: flex;
    position: absolute;
    left: 26px;
    bottom: 59px;
}

.left-quartile  .rotate-point {
    transform: rotate(-90deg);
}

.txt {
    color: #fff;
}

.txt-bg {
    position: absolute;
    -webkit-text-stroke: 3px #000;
    z-index: -5;
}


.effects {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    left: 64px;
    top: 204px;
    bottom: 70px;
    right: 60px;
}

.line {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-bottom: 6px;
}

.line .txt {
    margin-right: 6px;
}

.icon {
    height: 25px;
    margin-right: 5px;
}

.arrow {
    width: 25px;  
}

.fire {
    width: 25px;  
}

.sword {
    margin-right: 6.8px;
}

.target {
    margin-right: 0px;
}

.up {
    transform: rotate(-180deg);
}

.comma {
    margin-left: -2px;
}

.mpc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.mpc img {
    width: 100%;
}


.preparePrint .mpc {
    display: none;
}