html {
    background-color: 2a2a2a;
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

a, a:visited {
    color: #fff;
}

.card {
    position: relative;
    background-color: transparent;
    width: 69.088mm;
    height: 93.98mm;
    perspective: 1000px;
}

.card-container {
    float: left;
    margin: 5px;
}



.config label {
    display: block;
    margin: 0.5em 0;
}

.config {
    margin: 1em;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: #000;
}

.card .bg {
    width: 100%;
    top: 0mm;
    left: 0mm;
    z-index: -10;
    position: absolute;
    margin:0;
    overflow: hidden;
}

.card .bg img {
    width: 100%;
}

.front {
    font-size: 15px;
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.48;
}

.phases {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 50px;
    top: 25px;
    left: 33px;
    width: 183px;
    padding: 0;
    text-align: left;
    color: #000;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.phases ol {
    display: block;
    margin:0;
    padding:0;
}

.phases p {
    width: 100%;
    margin: 0;
    display: block;
    padding: 4.8px 22px;
    border-bottom: 1.2px #000 solid;
}

.phases p.last {
    border-bottom: none;
}


.wolf .text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    height: 90px;
    top: 115px;
    left: 32px;
    width: 90px;
    padding: 0 5px;
    text-align: left;
    color: #000;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.wolf .value {
    position: absolute;
    top: 112px;
    left: 202px;
    width: 25px;
    /* line-height: 1.35; */
    text-align: center;
    color: #000;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1.5px solid rgba(85, 45, 0, 0.7);
    border-radius: 10px;
}

.human .text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    transform: rotate(-180deg);
    position: absolute;
    top: 230px;
    left: 33px;
    height: 90px;
    width: 90px;
    text-align: left;
    color: #000;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.human .value {
    transform: rotate(-180deg);
    position: absolute;
    top: 294px;
    left: 202px;
    width: 25px;
    text-align: center;
    color: #000;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1.5px solid rgba(85, 45, 0, 0.7);
    border-radius: 10px;
}

.mpc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.mpc img {
    width: 100%;
}


.preparePrint .mpc {
    display: none;
}