body {
	width:640px;
	font-family:arial;
	font-size:11px;
	margin:10px auto;
	overflow:hidden;
	position:relative;
	text-align:center;
	}
#infos {color:#999;font-weight:bold;padding-bottom:5px;}
#sjs {background:#f1f4fe;border:1px #777 solid;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;margin-left:-50%;position:absolute;left:50%;}
#sjs:before,
#sjs:after {
		transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    height: 20%;
    left: 10px;
    max-width: 300px;
    width: 50%;
}
#sjs:after {
    transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    left: auto;
    right: 10px;
}

/* for Opera's Speed Dial */
#speeddial {display:none;}

@media only screen and (max-width:1024px) and (min-width:1024px) and (max-height:768px) and (min-height:768px) {
	/* hiding blocks */
	#sjs {display:none;}
	/* showing the special .speedidal block */
	#speeddial {display:block;}
}