.mission .frame {
    background: url(ext/crew-bg.png);
    background-size: cover;
    right: 5mm;
    top: 49.3mm;
    left: 5mm;
    bottom: 5mm;
    border: 0;
    box-shadow: none;
}

.mission .frame-bg {
    position: absolute;
    right: 5mm;
    top: 54.8mm;
    left: 5mm;
    bottom: 5mm;
    border: 0;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.mission .text {
    color: #000
}
.mission .innerText .rule-icon {
    background-color: #000;
}
.mission .title {
    color: #161209;
    text-shadow: none;
    top: 50.8mm;
}
.mission .text {
    color: #212121;
    text-shadow: none;
    top: 51mm;
    bottom: 0mm;
}
.mission .left, .mission .right {
    text-align: left;
    padding: 3.5px 7px;
}
.mission .right {
    width: auto;
    padding-left: 2px;
    display: flex;
    align-items: center;
}
.mission p {
    margin-bottom: 3.5px;
}
.mission .left {
    width: 58%;
    background: url(ext/actions.png);
    background-size: cover;
    background-position: right;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.mission .left.act {
    background-image: url(ext/actions-2.png);
}
.mission .left.act-big {
    background-image: url(ext/actions-2-big.png);
}
.mission .left.free {
    width:0px;
    background-image: url(ext/actions-3.png);
}
.actions {
    display: flex;
    border: 1px #a38030 solid;
    background-color: rgba(144, 14, 0, 0.1);
    border-radius: 3px;
    margin-top: -1px;
    box-shadow: 2px 2px 2px #b7aa99;
}
.new-cost {
    position:absolute;
    right: 9mm;
    bottom: 8mm;
    display: flex;
    height:30px;
    color: #000;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    font-size: 15px;
}
.new-cost img {
    margin: 4px;
    margin-right: 4px;
    margin-left: 9px;
}
.card .text .coin {
    margin-left: 0px;
    padding: 1px;
}

.card .text .struct-icon {
    width: 16px;
    height:14px;
    padding-top:0;
    margin-bottom: -4px;
}

.mission .text .rule-icon {
    background-color: #000;
}

.mask {
    border-color: #ddc2c227;
    display: none;
}

.card .bg {
    width: 63.1mm;
    height: 88.1mm;
    top: 3mm;
    left: 3mm;
    border-radius: 3mm;
    z-index: -10;
    position: absolute;
    margin:0;
    overflow: hidden;
}

.card .bg img {
    width: 100%;
}