
html {
    background-color: #404040;
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
    color: #fff;
    text-decoration: none;
    font-family: "PT Sans", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a, a:visited {
    color: #fff;
}

/* fix image on print */
img {
    display:inline-block;
    vertical-align: middle;
}

#cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: transparent;
    /* width: 69.088mm;
    height: 94.2mm; */
    /* overflow: hidden;
    width: 63.5mm;
    height: 88.8mm; */
}

.card .inner {
    position: relative;
    overflow: hidden;
    width: 69.24972972972974mm;
    height: 94.2mm;
    /* margin-left: -2.843mm;
    margin-top: -2.7mm; */
}



.config label {
    display: block;
    margin: 0.5em 0;
}

.config {
    margin: 1em;
}

/* --- */

.card .bg {
    width: 100%;
    margin-top: 50px;
}

.card.bg-top .bg {
    margin-top: 70px;  
}

.card.bg-0 .bg {
    margin-top: 0;  
}

.card.bg-10 .bg {
    margin-top: 10px;  
}

.card.bg-20 .bg {
    margin-top: 20px;  
}

.card.bg-30 .bg {
    margin-top: 30px;  
}

.card.bg-40 .bg {
    margin-top: 40px;  
}

.card.bg-50 .bg {
    margin-top: 50px;  
}

.card.bg-60 .bg {
    margin-top: 60px;  
}

.card .bg img {
    width: 100%;
}

.top {
    position: absolute;
    left:0;
    right:0;
    top: 0;
    background-image: url(img/crown-bg.png);
    background-size:cover;
    background-repeat: repeat;
    border-bottom: 1px #000000b3 solid;
    box-shadow: 0px 1px 4px #00000075;
    /* padding: 8px 26px; */
    display: flex;
    /* justify-items: flex-end; */
    flex-direction: column;
    /* z-index: 50; */
}

.top .type {
    display: flex;
    justify-content: space-between;
    height: 71px;
}

.top {
    color: #000;
    font-size: 13px;
    line-height: 1.4;
    text-rendering: geometricPrecision;
}

.banners:first-child {
    padding-left: 24px;
}

.banners .banner {
    margin-top: 15px;
    margin-right: 4px;
    margin-left: -3px;
    width: 39px;
}

.banners > *, .right > *  {
    align-self: center;
}

.right .banner-icon {
    width: 32px;
    margin-bottom: -2px;
}

.line {
    /* padding: 8px 26px; */
    /* text-shadow: 0.2px 0.2px #646464; */
}

.texts {
    /* height: 64px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.play_text, .ship {
    /* background-color: rgba(255, 196, 0, 0.4);
    border-bottom: 1px rgba(210, 161, 0, 0.7) solid; */
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.ship .crate { 
    margin: 0 5px;
}

.ship div {
    display: flex;
    align-items: center;
}
    
.bolt {
    width: 19px;
    display: inline-flex; 
    border: 1.5px solid #3d3303;
    padding: 2px;
    border-radius: 3px;
    background-color: #f6e2c4;
    float: left;
    margin-right: 4px;
    margin-top: -3px;
    margin-bottom: -3px;
}

.arrow {
    width: 22px;
    display: inline-flex;
    margin-right: 2px;
    margin-bottom: -6px;
    margin-left: 2px;
    margin-top: -1px;
}

.changed {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.discard-1 {
    width: 24px;
}

.right img.grab-3 {
    width: 41px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-top: 1px;
}

.type .resource.discard-res img {
    width: 28px;
    margin-top: -2px;
    margin-bottom: -4px;
}

.icon {
    width: 23px;
    display: inline-flex;
    margin-right: 1px;
    margin-bottom: -6.5px;
    margin-left: 1px; 
}

.telescope {
    margin-left: 1px;
}

.right .draw {
    width: 37px;
    margin-right: -3px;
    margin-top: -2px;
}

.helm {
    width: 34px;
}

.coin {
    width: 23px;
    display: inline-flex;
    margin-right: 1px;
    margin-bottom: -6px;
    margin-left: 2px; 
}

.gun {
    width: 24px;
    display: inline-flex;
    margin-right: 2px;
    margin-bottom: -7px;
    margin-left: 2px;
}

.parrot {
    width: 23px;
    display: inline-flex;
    margin-right: 2px;
    margin-bottom: -6px;
    margin-left: 2px; 
}

.rum {
    width: 23px;
    display: inline-flex;
    margin-right: 1px;
    margin-bottom: -6.5px;
    margin-left: 1px; 
}

.rum-guild, .gun-guild, .parrot-guild, .skull-guild {
    width: 30px;
    display: inline-flex;
    margin-right: 1px;
    margin-bottom: -11px;
    margin-left: 1px; 
}

.type {
    background-color: #fbd091b3;
    /* height: 31px; */
}

.type-supremacy .type {
    background-color: #f0b331ae;
}

.resource {
    display: flex;
    justify-content: center;
}

.type .resource {
    display: flex;
    width: 24px;
    /* height: 24px; */
    border-radius: 50px;
    padding: 3px;
    /* border: 1px #1c1c1c solid;
    background-color: #f6e2c4;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6); */
    margin: 0px 2px;
}

.type .resource.arrow {
    padding: 3px 0px;
    margin: 0 -1px;
}

.type .resource img {
    width: 27px;
}

.type .helm img {
    width: 30px;
}

.card .top-bar {
    width: 100%;
    height: 47px;
    background-image: url(img/top.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    left: 0px;
}

.price-tag {
    width: 35px;
    /* height: 100px; */
    position: absolute;
    top: 65px;
    left: 24px;
    rotate: -0deg;
    /* padding-top: 20px; */
}

.price-tag-bottom {
    background-image: url(img/price-tag.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 10px;
    padding-top: 5px;
}

.price-tag-top {
    background-image: url(img/price-tag-top.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 33px;
    background-position: top;
}

/* .price-tag img {
    width: 100%;
} */

.price-tag .resource img {
    width: 21px;
    border-radius: 0;
    border: 0;
    background:none;
    box-shadow: none;
    padding: 2px 0;
}

.price-tag .helm img {
    width: 22px;
}


.title {
    font-family: 'Lobster Two', cursive;
    letter-spacing: 0.1px;
    font-size: 15px;
    position: absolute;
    top: 63.5px;
    bottom:auto;
    width: 169px;
    right: -35px;
    padding: 6px 30px 22px 23px;
    border-radius: 0 0 0 3px;
    color: #000000dc;
    text-align: center;
    /* background: #ffe7a5;
    background: #f8d490; */
    z-index:10;
    /* border: 1px #000000ba solid; */
    /* box-shadow: 0px 0px 5px #000000b6 ; */

    background-image: url(img/banner-2.png);
    background-size:contain;
    background-repeat: no-repeat;
    rotate: -1deg;
    /* display: none; */
    /* text-shadow: 1.3px 1.4px black; */
    
}

.title-medium .title {
    right: -63px;
    padding: 6px 43px 20px 9px;
    width: 171px;
}

.title-small .title {
    right: -120px;
    padding: 6px 94px 20px 0px;
    width: 162px;
}

/* .title-top .title {
    top: 77px;
    bottom:auto
} */

.title-bottom .title {
    top: auto;
    bottom: 40px;
}

.title span:first-child {
    rotate: 3deg;
    display: inline-flex;
}

.title span:last-child {
    rotate: -3deg;
    display: inline-flex;
}

/* .large_title span:first-child {
    rotate: 3deg;
}

.large_title span:last-child {
    rotate: -3deg;
} */




.discard {
    /* font-family: 'Lobster Two', cursive;
    letter-spacing: 0.1px; */
    /* font-size: 19px; */
    /* position: absolute;
    top: 79px;
    left: 21px; */

    /* background: #f0d974;
    border: 1px solid #333; */
    /* box-shadow: 1px 2px 3px #00000069; */
    background-image: url(img/discard.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px 2px 13px 2px;
    margin-left: -1px;
    margin-top: 5px;

    /* border-radius: 9px; */

    z-index: 50;
    /* background-image: url(img/bg-bottom.png);
    background-size:cover;
    background-repeat: no-repeat; */

    /* rotate: 2deg; */
    color: #000000;
    text-align: center;
    /* text-shadow: 1.3px 1.4px black; */
    /* width: 34px; */
    display: flex;
    justify-content: center;
}

.discard .resource img {
    width: 20px;
}

.discard .helm img {
    width: 22px;
}

.card-infos {
    position: absolute;
    top: 71px;
    right: 20px;
    background: #e0cda9bb;
    font-size: 7.5px;
    padding: 1px 3px;
    border-radius: 0 0 2px 2px;
    color:#282828;

    border-bottom: 1px #000000a0 solid;
    box-shadow: 0px 1px 4px #00000075;
    display: none;
}

.card .mpc {
    position: absolute;
    top:0;
    left:0;
    width: 69.24972972972974mm;
    height: 94.2mm;
    background-image: url(img/mpc-dark.png);
    /* background-image: url(img/mpc.png); */
    background-size: cover;
    z-index: 100;
}

.card.preparePrint .mpc {
    /* display: none; */
}

.card.preparePrint {
    width: 69.24972972972974mm;
    height: 94.2mm;
    overflow: visible;
}

.right {
    display: flex;
    margin-left: auto;
    padding: 9px;
    padding-top: 23px;
    padding-right: 24px;
    padding-left: 2px;
}

/* .extra {
    padding: 9px;
    padding-bottom: 24px;
    padding-right: 24px;
    background-color: #ffffff5d;
    border-left: 1px #00000037 solid;
}*/

.banners {
    background: url(img/stick.png);
    background-size: 260px 26px;
    background-repeat: no-repeat;
    background-position-y: 16px;
    background-position-x: right;
    padding-right: 8px;
    margin-right: auto;
    padding-left: 8px;
    display: flex;
    /* padding: 9px;
    padding-bottom: 24px;
    padding-right: 9px;
    background-color: #ffffffa2;
    border-left: 1px #00000037 solid; */
} 

.production {
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-left: 22px;
    padding-right: 13px;
    padding-bottom: 11px;
    background-color: #ffffff78;
    /* border: 3px #5793d1 solid; */
    background-image: url(img/production.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 120px;
    border-radius: 3px;
    /* border-right: 1.5px #00000050 solid; */
    /* margin-right: 1px; */
    box-shadow: #000 1px 0px 4px;
    z-index: 5;
}

.prod-block .production {
    background-image: url(img/production-stop.png);
}

.right img {
    width: 38px;
    /* max-height: 38px; */
    align-self: center;
}

.supremacy-cost img {
    width: 38px;
    align-self: center;
}

.supremacy-cost {
    position: absolute;
    right: 0;
    left:0;
    bottom: 0;
    background-color: #2b7396;
    background-image: url(img/bg-bottom-2.png);
    background-size: cover;
    box-shadow: #0000009b 0px 0px 2px 2px;
    box-shadow: 0px -2px 4px #00000075;
    border-top: 1.5px #000000cf solid;
    /* background-image: url(img/stick.png);
    background-size: 260px 26px;
    background-repeat: no-repeat;
    background-position-y: -3px;
    background-position-x: right; */
}

.supremacy-bg {
    padding: 4px;
    padding-top: 6px;
    padding-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #203853ce;
    background-blend-mode: overlay;
}

.type-supremacy .bg {
    margin-top: 30px;
}

.type-supremacy .title {
    z-index: 60;
    left: -79px;
    top: 54px;
    padding: 8px 9px 42px 48px;
    width: 186px;
    rotate: 2deg;
    background-image: url(img/banner.png);
}

.title-small.type-supremacy .title {
    left: -102px;
    top: 55px;
    padding: 7px 0px 42px 69px;
    width: 167px;
}

.type-supremacy .title-medium.title {
    left: -77px;
    padding: 7px 6px 39px 52px;
    width: 185px;
}

.type-supremacy .title-large.title {
    left: -70px;
    padding: 8px 25px 38px 55px;
    width: 171px;
}

.type-supremacy .top-bar {
    top: 252px;
    left: -66px;
    z-index: 1000;
    rotate: -4deg;
    display: none;
}

.right .no-compass {
    width: 35px;
    margin-left: 3px;
    margin-right: 1px;
    margin-top: 1px;
}

.mult {
    font-weight: bold;
    padding: 8px 2px;
}

.right img.cross {
    width: 20px;
    margin: 2px;
    margin-bottom: 5px;
}

.right img.res {
    width: 30px;
    margin-bottom: 3px;
}

.sign {
    position:absolute;
    bottom: 21px;
    right: 21px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter:invert(); */
    backdrop-filter:blur(2px);
    /* will-change: opacity; */
    border-radius: 2px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.65); */
    /* background: #0007; */
}

.left-sign .sign {
    right: auto;
    left: 21px;
}

.type-supremacy .sign {
    bottom: 79px;
}

.sign div {
    width: 12px;
    height: 12px;
    opacity: 0.3;
    background-image: url(sign/bb.png);
    border-radius: 1px;
    background-size: cover;
    background-blend-mode: difference;
    /* filter: grayscale(1); */
    /* filter:invert(); */
    /* filter: hue-rotate(30deg); */
}

.sign-extra .sign div {
    opacity: 0.5;
}

.sign.vh div {
    background-image: url(sign/vh.png);  
}

.sign.dc div {
    background-image: url(sign/dc.png);  
}

.sign.zp div {
    background-image: url(sign/zp.png);  
}

.sign.ma div {
    background-image: url(sign/ma.png);  
}

.sign.to div {
    background-image: url(sign/to.png);  
}

/* .sign img {
    width: 14px;
    height: 14px;
    line-height: 1;
    border-radius: 3px;
    margin: 0;
    padding: 0;
} */

.right img.hook {
    margin-left: 1px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-top: -2px;
    width: 35px;
}

.right img.vp {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: -1px;
    width: 36px;
}

/* .right img.vp:last-child {
    margin-right: 0.5px;
} */

.right img.arrow {
    margin-left: 2px;
    width: 30px;
    /* margin-right: -4px; */
}

.right img.battle  {
    width: 33px;
    margin: 1px;
    margin-bottom: 4px;
}

.right img.tentacle {
    margin-left: 3px;
    width: 33px;
    margin-bottom: 2px;
}

.op {
    color: rgb(255, 89, 0);
}

.up {
    color: rgb(0, 179, 255);
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #353535;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #737373;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
