
img {
    vertical-align: middle;
}

html {
    background-color: #404040;
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
    color: #fff;
    text-decoration: none;
    font-family: "PT Sans", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a, a:visited {
    color: #fff;
}

#cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 69.088mm;
    height: 94.2mm;
    overflow: hidden;
    width: 63.5mm;
    height: 88.8mm;
}

.card .inner {
    position: relative;
    overflow: hidden;
    width: 69.088mm;
    height: 94.2mm;
    margin-left: -2.843mm;
    margin-top: -2.7mm;
}

.config label {
    display: block;
    margin: 0.5em 0;
}

.config {
    margin: 1em;
}

/* --- */

.card .bg {
    width: 100%;
}

.card .bg img {
    width: 100%;
}

.card .mpc {
    position: absolute;
    top:0;
    left:0;
    width: 69.088mm;
    height: 93.98mm;
    background-image: url(img/mpc.png);
    background-size: cover;
}

.card.preparePrint .mpc {
    display: none;
}

.discard img, .cost img {
    width: 22px;
}

.discard {
    position: absolute;
    top: 26px;
    left: 26px;
    display: flex;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.781);
    display: flex;
    align-items: center;
    /* border: 2px #252525 solid; */
}

.cost {
    position: absolute;
    top: 60px;
    left: 26px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    background: #fff;
    padding: 3px 3px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.781);
    /* border: 2px #252525 solid; */
}

.cost img {
    margin: 3px 0px;
}


.bottom, .bottom-right {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    /* border: 1.5px #252525 solid; */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.781);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 22px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-right {
    left: auto;
    right: 0;
    padding-right: 24px;
    padding-left: 5px;
}

.title {
    font-family: "Inter", "Playfair Display", serif;
    font-weight: 700;
    /* position: absolute; */
    color: #171717;
    /* background-color: #fff; */
    /* border-radius: 5px; */
    /* border: 1.5px #252525 solid; */
    /* box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.781); */
    font-size: 15px;
    /* top: 30px;
    left: 45px; */
    /* padding: 2px 5px; */
    padding: 0px 6px;
}

.bottom img, .bottom-right img {
    width: 28px;
    margin-right: 5px;
}